$header_text: #ffffff;
$img_text: #ffffff;
$btn-text: #ffffff;
$font_montserrat: Montserrat;
$font_roboto: Roboto;
$font_montserrat_bold: Montserrat-medium;
$badges_color: #FF4E50;
$textBlack: #444444;
$ava-name-color: #444444;
$ava-about-color: #666666;
$text-into-img: #FFFFFF;
$li-color: #999999;